<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgx.mapper.AdminParamMapper">


    <select id="login" parameterType="com.zgx.blog.pojo.AdminParam" resultType="com.zgx.blog.pojo.AdminParam">
        SELECT user_id, user_name,user_pwd from user WHERE user_name=#{adminParam.username} and user_pwd = #{adminParam.password}
    </select>

</mapper>
