<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgx.blog.mapper.MeArticleMapper">

    
    <resultMap id="BaseResultMap" type="com.zgx.blog.pojo.MeArticle">
        <id column="id" property="id"/>
        <result column="comment_counts" property="comment_counts"/>
        <result column="create_date" property="create_date"/>
        <result column="summary" property="summary"/>
        <result column="title" property="title"/>
        <result column="view_counts" property="view_counts"/>
        <result column="weight" property="weight"/>
        <result column="author_id" property="author_id"/>
        <result column="body_id" property="body_id"/>
        <result column="category_id" property="category_id"/>
    </resultMap>
    
    <resultMap id="MeArticleInfo" type="com.zgx.blog.pojo.MeArticle" extends="BaseResultMap">
        <association property="meArticleBody" javaType="com.zgx.blog.pojo.MeArticleBody">
            <id column="id" property="id"/>
            <result column="content" property="content"/>
            <result column="content_html" property="content_html"/>
        </association>
        <association property="sysUser" javaType="com.zgx.blog.pojo.SysUser">
            <id column="id" property="id"/>
            <result column="account" property="account"/>
            <result column="admin" property="admin"/>
            <result column="avatar" property="avatar"/>
            <result column="create_date" property="create_date"/>
            <result column="deleted" property="deleted"/>
            <result column="email" property="email"/>
            <result column="last_login" property="last_login"/>
            <result column="mobile_phone_number" property="mobile_phone_number"/>
            <result column="nickname" property="nickname"/>
            <result column="salt" property="salt"/>
            <result column="status" property="status"/>
        </association>
    </resultMap>
    
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, comment_counts, create_date, summary, title, view_counts, weight, author_id, body_id, category_id
    </sql>

    <select id="queryArticleAll" resultMap="MeArticleInfo">
        select a.*,b.*,u.*
            from me_article a,
            me_article_body b,
            sys_user u
            where
            a.body_id=b.id
            and a.author_id=u.id
    </select>


</mapper>
