<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgx.mapper.SecretMessageMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        secret_id, send_id, receive_id, message_topic, message_content
    </sql>

</mapper>
